/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2020, 03:34:41
    Author     : Thiago
*/

@font-face{
font-family: 'sketch';
    src: url('util/fonts/sketch3D.woff') format('woff'),
        url('util/fonts/sketch3D.ttf') format('truetype');
}

.content {
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity .5s linear;
    overflow-y: scroll;
    
}

li {
    display: inline-block;
}

.content.hide {
    opacity: 0;
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    //height: 312px;
}

body {
    background-image: radial-gradient(farthest-corner at 2% 2%, #4c4c4c, #494949, #3f3f3f, #363636, #303030, #2b2b2b);
}

.navbar {
    background-color: rgba(247,247,247,0.1);
    transition-duration: 800ms;
}

.sobre-text {
    //background-color: #F0F8FF;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.inicio {
    //background-image: url(util/comave/img222.jpg);
    //background-position: center top;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-attachment: fixed;
    //color: #fff;
    //font-size: large;
    //text-shadow: 1px 1px 2px #000;
    //padding-top: 300px;
    padding-bottom: 100vh;
}

#textdiv {
    background: rgba(0,0,0,0.2);
    position: absolute;
    margin: 40vh 0 0 0;
    color: #fff;
    border-radius: 5px;
    padding: 1em;
}

#videoBG {
    position: fixed;
    z-index: -1;
    width: 100%;
}

@media(max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media(min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    //text-shadow: -3px 3px 1px #0685cb;
}

h6 {
    font-family: 'Archivo Black', sans-serif;
    //text-shadow: -2px 2px 1px #0685cb;
}

.btn-default {
    color: #fff;
    background-color: #289bd9;
    border-radius: 5px;
}

.btn-default:hover {
    color: #fff;
    background-color: #0984c7;
}

.sobre {
    background-color: #f3f3f3;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: large;
}

.servicos {
    background-color: #f3f3f3;
    padding-bottom: 100px;
}

.servicos h1 {
    color: #fff;
}

.contato {
    background-image: linear-gradient(#2d3f64,#222222);
    padding-top: 80px;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px #000;
    //font-size: large;
}

.contato a {
    color: #f2f3f4;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
    color: #fff;
    font-weight: 500;
}

.nocolor {
    padding: 4%;
}

.floating-text {
    padding: 4%;
    border-radius: 3px;
    background: rgba(45, 63, 100, 1);
    max-width: 900px;
    //border: 1px solid;
    //padding: 10px;
    box-shadow: 9px 9px #adadad;
}

p {
    font-size: larger;
}

.card {
    margin-bottom: 1rem;
    font-size: small;
    width: 17rem;
}

.nav-item a {
    color: black !important;
}

.nav-item a:hover {
    background-color: #0685cb;
    color: #fff !important;
    text-height: inherit;
}

.modal-header {
    background-image: linear-gradient(to right, #f98220, #fff);
    color: #fff !important;
    text-shadow: 1px 1px #000;
}

.footer {
    height: 35px;
    color: #919191;
    text-shadow: 1px 1px #000;
    background-color: #28292b;
}

.footer a {
    color: #919191;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

.title1 {
}

/* GLOBAL STYLES */
.typewriter-body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.fas {
    font-size: 40px;
}

.fas:hover #teste {
    transform: rotate(-25deg) translate(-2.4px,-0.5px);
    transition-duration: 1s;
}

.fas #escrita {
    //transform: translate (-10px);
}

.fas:hover #cabeca {
    opacity: 0;
    transition-duration: 0.5s;
}
.fas:hover #corpo {
    opacity: 0;
    transition-duration: 0.5s;
}

.fas:hover #escrita {
    transform: translate(11px);
    transition-duration: 2s;
}


#teste::before {
    transform: rotateZ(90deg);
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



Resources