/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2020, 03:34:41
    Author     : Thiago
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500&display=swap');

:root {
  --body-bg: radial-gradient(farthest-corner at 2% 2%, #ffffff, #fffafa, #f3f3f3, #f6f6f6, #f9f9f9, #e6e6e6);
  --body-color: #808080;
  --link-color: #f3f3f3;
  --link-color-hover: orange;
  --card-color: #c0c0c0;
}

.dark-mode:root {
  --body-bg: radial-gradient(farthest-corner at 2% 2%, #4c4c4c, #494949, #3f3f3f, #363636, #303030, #2b2b2b);
  --body-color: #f3f3f3;
  --link-color: #f3f3f3;
  --link-color-hover: orange;
  --card-color: #282828;
}

.load {
    padding-top: calc(50vh - 45px);
    height: calc(100vh - 50px);
    text-align: center;
}

.nav-item {
    margin-left: 6px;
}

.nav-item:hover {
    color: var(--link-color);
    font-size: 1.05em;
    border-bottom: solid;
    border-color:  var(--link-color-hover);
    //border-width: thin;
    transition-duration: 1s;
    text-shadow: 1px 1px var(--link-color-hover);
}

#inicio, #sobre, #trabalhos, #contato, #planos {
    display: none;
}

#navbar-toggle {
    display: none;
}

#navbar-itens {
    display: none;
}

.floating-text {
    padding: 2em;
    border-radius: 20px;
    text-align: justify;
    background: rgba(105, 105, 105, 0.77);
    color: var(--link-color);
}

.landing-text {
    font-size: 1.4em;
    padding: 2em 2rem 0em 2rem;
    text-align: center;
    font-family: 'Grandstander', sans-serif !important;
}

input, textarea {
    color: white;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--link-color-hover);
    resize: none;
}

.col-form-label {
    color: var(--card-color);
}

a:hover .far, a:hover .fab {
    transform: scale(1.5) translateX(-2px);
    transition-duration: 1s;
    color: var(--link-color-hover);
}

.content {
    padding-top: 100px;
    padding-bottom: 100px;
    //color: #fff !important;
    text-align: center;
    opacity: 1;
    transition: opacity .5s linear;
    overflow-y: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
}

li {
    display: inline-block;
}

.content.hide {
    opacity: 0;
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: var(--body-bg);
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.navbar {
    background-color: rgba(247,247,247,0.1);
    transition-duration: 800ms;
}

/* GLOBAL STYLES */
.typewriter-body {
    display: flex;
    justify-content: center;
}

.fas {
    //font-size: 18px;
    font-family: 'Roboto', sans-serif !important;
}

.fas:hover #tampa {
    color: var(--link-color-hover);
    transform: rotate(-25deg) translate(-2.4px,-0.5px);
    transition-duration: 1s;
}

.fas:hover #recipiente {
    color: var(--link-color-hover);
    transition-duration: 1s;
}

.fas:hover #borda {
    color: var(--link-color-hover);
    transition-duration: 1s;
}

.main-menu, .main-menu:hover {
    text-decoration: none;
    color: var(--body-color);
}

.fas:hover #cabeca {
    opacity: 0;
    transition-duration: 0.5s;
}

.fas:hover #corpo {
    opacity: 0;
    transition-duration: 0.5s;
}

.fas:hover #escrita {
    transform: translate(11px);
    transition-duration: 2s;
}

.fas:hover #cart1 {
    transform: translateX(15px);
    opacity: 0;
    transition-duration: 1s;
}

.fas #cart2 {
    transform: translateX(-15px);
}

.fas:hover #cart2 {
    color: var(--link-color-hover);
    transform: translateX(0px);
    transition-delay: 0.6s;
    transition-duration: 1s;
}

#inphone {
    transform: translate(4.5px,3.5px) scale(0.4);
}

#tel2 {
    opacity: 0;
}

.fas:hover #tel1 {
    opacity: 0;
    transition-duration: 2s;
}

.fas:hover #tel2 {
    opacity: 1;
    color: var(--link-color-hover);
    transition-duration: 2s;
  -webkit-animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
  animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 300px;
  perspective: 300px;
}

@keyframes vibrate {
  0.50%, 10%, 20%, 30%, 40%, 50%
  {
    -webkit-transform: translate3d(0.5px, 0, 0);
    transform: translate3d(0.5px, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% 
  {
    -webkit-transform: translate3d(-0.5px, 0, 0);
    transform: translate3d(-0.5px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0.5px, 0, 0);
    transform: translate3d(0.5px, 0, 0);
  }

}

#teste::before {
    transform: rotateZ(90deg);
}

/* DEMO-SPECIFIC STYLES */

.typewriter-body {
    margin-top: 15vh;
}

.typewriter h1 {
  color: var(--body-color);
  font-family: "Roboto";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--link-color-hover); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--link-color-hover) }
}

#dark-mode-switch {
    margin: 6px;
    position: absolute;
}

Resources


/* FLIP CARD HERE */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    padding-top: 1.4rem;
    background-color: var(--card-color);
    color: var(--link-color-hover);
    transform: rotateY(180deg);
    border: solid;
    border-color: black;
}

/* FLIP CARD END  */