/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2020, 03:34:41
    Author     : Thiago
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.load {
    color:#fff;
    font-size: 18px;
    padding-top: calc(50vh - 45px);
    height: calc(100vh - 50px);
    text-align: center;
}

#inicio, #sobre, #trabalhos, #contato, #planos {
    display: none;
}

#navbar-toggle {
    display: none;
}

#navbar-itens {
    display: none;
}

.floating-text {
    padding: 4%;
    border-radius: 20px;
    text-align: justify;
    background: rgba(245, 130, 32, 0.45);
    background: rgba(105, 105, 105, 0.91);
}

.content {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff !important;
    text-align: center;
    opacity: 1;
    transition: opacity .5s linear;
    overflow-y: auto;
}

li {
    display: inline-block;
}

.content.hide {
    opacity: 0;
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: radial-gradient(farthest-corner at 2% 2%, #4c4c4c, #494949, #3f3f3f, #363636, #303030, #2b2b2b);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgba(247,247,247,0.1);
    transition-duration: 800ms;
}

/* GLOBAL STYLES */
.typewriter-body {
    display: flex;
    justify-content: center;
}

.fas {
    font-size: 18px;
    font-family: 'Roboto', sans-serif !important;
}

.fas:hover #tampa {
    color: orange;
    transform: rotate(-25deg) translate(-2.4px,-0.5px);
    transition-duration: 1s;
}

.fas:hover #recipiente {
    color: orange;
    transition-duration: 1s;
}

.fas:hover #borda {
    color: orange;
    transition-duration: 1s;
}

a, a:hover {
    text-decoration: none;
    color: #fff;
}

.fas:hover #cabeca {
    opacity: 0;
    transition-duration: 0.5s;
}

.fas:hover #corpo {
    opacity: 0;
    transition-duration: 0.5s;
}

.fas:hover #escrita {
    transform: translate(11px);
    transition-duration: 2s;
}


#teste::before {
    transform: rotateZ(90deg);
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: "Roboto";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



Resources