/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/09/2019, 02:12:00
    Author     : Thiago
*/


#plabel {
    padding-left: 1em;
}

div.pbuttons {
    margin-bottom: 8px;
}